* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body.light {
    background: #f5f5f5;
    color: black;
}

body.dark {
    background: #1e1e1e;
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}